# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore specific files in the root directory:
/index.js
/config.js

# Ignore all files in the node_modules directory:
node_modules

# Ignore all files in the dist directory:
dist

# Ignore all files in the logs directory:
logs